#boxin{
    height:800px; width:100%; border:1px solid red;
    margin-top:25px;
    display:flex; 
    justify-content: space-around;
}

.coloumn_a{
    height:700px; width:20%;
    /* border:1px solid blue; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */

}

.add01{
    height:240px; width:100%; margin:auto;
    /* border:1px solid teal; */
    /* margin-top:10px; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.flipadd{
    height:60%; width:50%;
   margin-left:22%;
    /* margin-top:2px; */
}
.addtext{
    color: grey;
text-align: center;
margin-top:-15px;
}
.ask{
    height:35px; width:80%; margin:auto;
    border-radius: 50px;
    margin-top:10px;
    border:2px solid teal;
    color:teal;text-align: center;
}








.coloumn_b{
    height:700px; width:50%;
    border:1px solid blue;
}
.coloumn_b img{
   height:500px; width:93.5%;
   margin-left:22px;
   margin-top:16px;
   transform:scale(1.07);
   border:1px solid teal;
}
.black{
    color:white;
    height:120px; width:100%;
    background-color: black;
    text-align:center;
    /* line-height:20px; */
    /* margin-top:20px; */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.virat{
    margin-top:28px;
    margin-bottom:25px;
}
.coloumn_c{
    height:700px; width:20%;
    border:1px solid blue;
}

